body {
  margin: 0;
  text-align: center;
}

span {
  text-decoration: underline;
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66bfbf;
  line-height: 2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: bold;
  margin: 50px auto 50px auto;
}

h3 {
  color: #11999e;
  font-family: "Montserrat";
  font-size: 1.5rem;
}

a {
  color: #11999e;
}

p {
  color: #40514e;
  font-family: "Merriweather";
  font-size: 1.2rem;
  font-weight: bold;
}

hr {
  width: 4%;
  border-top: 8px dotted;
  color: lightgrey;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  margin: 100px auto;
}

.top-container {
  background-color: #e4f9f5;
  padding-top: 150px;
  position: relative;
}

.mountains {
  max-width: 100%;
}

.bottom-cloud {
  position: absolute;
  left: 500px;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  right: 550px;
  top: 100px;
}

.profile {
  margin: 0 auto;
  width: 35%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.profile-img {
  margin-top: 30px;
  max-width: 100%;
  max-height: 250px;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  max-height: 200px;
}

.business-img {
  width: 25%;
  float: right;
  margin-left: 30px;
  max-height: 200px;
}

.contact-me {
  width: 50%;
  margin: 0 auto;
}
.final-p {
  margin: 40px auto;
}

.btn {
  background: #30E3CA;
  background-image: -webkit-linear-gradient(top, #30E3CA, #11999E);
  background-image: -moz-linear-gradient(top, #30E3CA, #11999E);
  background-image: -ms-linear-gradient(top, #30E3CA, #11999E);
  background-image: -o-linear-gradient(top, #30E3CA, #11999E);
  background-image: linear-gradient(to bottom, #30E3CA, #11999E);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 100;
  padding: 13px;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
  }

  .bottom-container {
    background-color: #66BFBF;
    padding: 100px;
  }
  .footer-link {
    padding: 20px;
    font-size: 1.5rem;
  }

  .copyrights {
    margin-top: 80px;
    color: #EAF6F6;
  }